/* styles.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(146, 147, 170, 1) 24%,
    rgba(32, 21, 80, 1) 81%
  );
  color: #fff;
  padding: 10px 20px;
}

.navbar .logo {
    height: 120px;
    width: auto;
    position: static;
    margin: -35px;
}

.navbar .menu-button {
  display: none;
}

.navbar .menu {
  display: flex;
  align-items: center;
}

.navbar .store-name {
  font-size: 1.2em;
  margin-right: 20px;
}

.navbar .language-switcher button {
  background: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.product-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  margin: 20px;
  padding: 20px;
 
    }

.product-card .product-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #f4f4f4;
}

.product-card .product-info {
  padding: 15px 0;
}

.product-card .product-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.product-card .product-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.product-card .product-price {
  font-size: 1.2em;
  color: #030227;
  margin-bottom: 10px;
}

.product-card .product-colors {
  font-size: 0.9em;
  color: #333;
  margin-bottom: 15px;
}

.product-card .order-link {
  display: inline-block;
  background: #067926;

  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.product-card .order-link:hover {
  background: #071968;
}
